body {
  background: #fefefe;
  color: #444;
  font-family: Arial, sans-serif;
}

.bg-white {
  background: #fff;
}

.border {
  border-color: #bbb;
}

.cursor-pointer {
  cursor: pointer;
}

.machine:hover {
  background: #ddd;
}
.machine:active {
  background: #bbb;
}

.machine small {
  color: #888;
}

.fg-red {
  color: #f00;
}

.fg-green {
  color: green;
}
